body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"], input[type="submit"], input[type="number"], input[type="password"]{
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="radio"], input[type="checkbox"] {
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  font-size: 12px;
}

button[type="submit"] {
  width: 100%;
  padding: 8px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out .25s;
}

button[type="submit"]:hover {
  transition: all ease-in-out .25s;
  transform: scale(1.05);
  background-color: #45a049;
}

.result-container {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.result-item {
  margin-bottom: 10px;
}

.btn__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;

  > a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    background-color: #4CAF50;

    &:hover {
      background-color: #45a049;
    }

    &:first-child {
      background-color: #9fa0a0;

      &:hover {
        background-color: #535757;
      }
    }
  }
}
