body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"], input[type="submit"], input[type="number"], input[type="password"]{
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="radio"], input[type="checkbox"] {
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  font-size: 12px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
